.search-container{
    background-color: rgba(0, 0, 0, 0.658);
    text-align: center;
    line-height: 50px;
}
.search-container input{
    width: 60%;
}
.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container {
    border-right: 1px solid black;
    margin-right: 10px;
    margin-left: 50px;
}